---
import '@fontsource/geist-sans/400.css'
import '@fontsource/geist-sans/500.css'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Assign Watch - Extension for LEB2</title>
  </head>
  <body
    class="relative font-sans min-h-screen grid place-items-center antialiased overflow-hidden dark"
  >
    <slot />
  </body>
</html>
